[mysqld]
# default-time-zone = 'America/New_York'
# Security settings
local-infile=0
symbolic-links=0
# Allow connections from Docker containers
skip-networking=0
bind-address=0.0.0.0
# Improve security
default_authentication_plugin=mysql_native_password
max_connect_errors=10000
max_allowed_packet=64M
# Enable logs
general_log=0
log_error=/var/log/mysql/error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2
# Performance settings
innodb_buffer_pool_size=512M
key_buffer_size=128M
tmp_table_size=64M
max_heap_table_size=64M
